.postsBlock {
  width: 600px;
  border-radius: 5px;
  border: 1px solid rgb(146, 146, 146);
  padding: 20px;
  background-color: #e6ebf3;
  margin-left: 35%;
}

.posts {
  margin-top: 10px;
}

@media only screen and (max-width: 1200px) {
  .postsBlock {
    margin-left: 0%;
  }
}

@media only screen and (max-width: 992px) {
  .postsBlock {
    width: 340px;
  }
}

@media only screen and (max-width: 600px) {
  .postsBlock {
    width: 280px;
  }
}

@media only screen and (max-width: 300px) {
  .postsBlock {
    width: 206px;
  }
}
