.formControl.error input,
.formControl.error textarea {
  border: solid red 2px;
}

.formControl.error span {
  color: red;
}

.formSummaryError {
  border: red 1px solid;
  padding: 5px;
  color: red;
}

.form {
  width: 100%;
  resize: none;
  background-color: rgb(243, 248, 250);
  border-radius: 3px;
}
