.mainPhoto {
  max-width: 300px;
  margin-bottom: 20px;
  display: block;
}

.contact {
  padding-left: 10px;
}

.file {
  display: block;
  margin: 5px 0px;
  display: none;
}

.edit {
  margin: 10px 0px;
}

.label {
  cursor: pointer;
}

.profileWrapper {
  display: grid;
  grid-template-areas:
    'n n'
    'a d'
    'p p';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 1fr;
  grid-gap: 10px;
}

.nameBlock {
  grid-area: n;
  border-radius: 5px;
  border: 1px solid rgb(146, 146, 146);
  padding: 5px;
  background-color: #d6dce0;
}

.avatarBlock {
  grid-area: a;
  border-radius: 5px;
  border: 1px solid rgb(146, 146, 146);
  padding: 20px;
  background-color: #d6dce0;
}

.descriptionBlock {
  grid-area: d;
  border-radius: 5px;
  border: 1px solid rgb(146, 146, 146);
  padding: 20px;
  background-color: #d6dce0;
}
