.descriptionBlock {
  padding: 10px;
}

.mainPhoto {
  max-width: 200px;
  margin-bottom: 20px;
}

.contact {
  padding-left: 10px;
}

.file {
  display: block;
  margin: 5px 0px;
}

.edit {
  margin-bottom: 5px;
}
