.mainPhoto {
  max-width: 300px;
  margin-bottom: 20px;
  display: block;
}

.contact {
  padding-left: 10px;
}

.file {
  display: block;
  margin: 5px 0px;
  display: none;
}

.edit {
  margin: 10px 0px;
}

.label {
  cursor: pointer;
}

.profileWrapper {
  display: grid;
  grid-template-areas:
    'n n'
    'a d';
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 120px 1fr;
  grid-gap: 10px;
  margin-left: 50%;
  padding-bottom: 10px;
  min-width: 600px;
}

.nameBlock {
  grid-area: n;
  border-radius: 5px;
  border: 1px solid rgb(146, 146, 146);
  padding: 5px;
  background-color: #e6ebf3;
}

.avatarBlock {
  grid-area: a;
  border-radius: 5px;
  border: 1px solid rgb(146, 146, 146);
  padding: 20px;
  background-color: #e6ebf3;
  max-width: 340px;
}

.descriptionBlock {
  grid-area: d;
  border-radius: 5px;
  border: 1px solid rgb(146, 146, 146);
  padding: 20px;
  background-color: #e6ebf3;
  max-width: 250px;
}

@media (max-width: 1280px) {
  .profileWrapper {
    margin-left: 0%;
    width: 600px;
  }
}

@media (max-width: 540px) {
  .profileWrapper {
    grid-template-areas:
      'n'
      'a'
      'd';
  }
  .nameBlock {
    max-width: 400px;
  }
  .avatarBlock {
    max-width: 400px;
  }
  .mainPhoto {
    max-width: 350px;
  }
  .descriptionBlock {
    min-width: 400px;
  }
}

@media (max-width: 500px) {
  .nameBlock {
    max-width: 300px;
  }
  .avatarBlock {
    max-width: 300px;
  }
  .mainPhoto {
    max-width: 250px;
  }
  .descriptionBlock {
    min-width: 300px;
  }
}

@media (max-width: 280px) {
  .nameBlock {
    max-width: 200px;
  }
  .avatarBlock {
    max-width: 200px;
  }
  .mainPhoto {
    max-width: 150px;
  }
  .descriptionBlock {
    max-width: 200px;
    min-width: 200px;
  }
}
